html {
    min-height: 100%;
}

body {
    position: relative;
    font-family: Arial;
    background: no-repeat url("https://i.imgur.com/30U1T0F.jpg");
    background-size: cover;
    padding-bottom: 30px;
}