.sortDate {
    width: 20px;
}
.sortDate:hover {
    cursor: pointer;
}

.githubImg {
    position: absolute;
    bottom: -50px;
    right: -35px;
    width: 30px;
    cursor: pointer;
}

.tutorialImg {
    position: absolute;
    bottom: -10px;
    right: -35px;
    width: 30px;
    cursor: pointer;
}