.sortDate {
    width: 20px;
}
.sortDate:hover {
    cursor: pointer;
}

.menu-button {
    display: flex;
    width: 30px;
    -webkit-filter: invert(100%); /* color change */
    filter: brightness(1) invert(1);
    cursor: pointer;
}