.topic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 100px;
}

.main {
    zoom: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 80px 30px 1fr;
}

.add-box {
    display: flex;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: top;
}
.addboxBottom {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.addboxTop {
    display: flex;
    align-items: top;
    margin-bottom: 5px;
}

.task-input-box {
    height: 20px;
    margin-right: 5px;
}
.data-input-box {
    height: 22px;
}

.add-todo {
    background-color: rgb(25, 84, 211);
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 5px 8px;
    margin-left: 5px;
    cursor: pointer;
}
.addGC {
    background-color: rgb(60, 223, 60);
    color: white;
    border: none;
    border-radius: 9999px;
    margin-left: 5px;
    cursor: pointer;
}

/* */

.menu {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
}
@media (max-width: 800px){
    .menu {
        display: none;
    }
}
.menu-box {
    position: relative;
}

.menu-options {
    position: absolute;
    margin-left: 10px;
    width: 10%;
    height: flex;
    background-color: red;
}
